In [1]:
import pandas as pd
import datetime as dt
import numpy as np
import requests
import json
import math

In [52]:
df = pd.read_csv("aq_sensor_data.csv")
df = df[['IdSensore', 'Data', 'Valore']]
df['Data'] = pd.to_datetime(df['Data'], format="%d/%m/%Y %I:%M:%S %p", errors="coerce") #01/01/2023 12:00:00 AM

In [53]:
df = df.sort_values(by='Data').loc[df['Data'] >= '2024-1-1'].reset_index(drop=True)
df

        IdSensore                Data  Valore
0            5579 2024-01-01 00:00:00    21.3
1           12017 2024-01-01 00:00:00    27.7
2            9971 2024-01-01 00:00:00     0.6
3            6246 2024-01-01 00:00:00    24.4
4            6280 2024-01-01 00:00:00    26.2
...           ...                 ...     ...
199517      20494 2024-01-29 10:00:00   187.4
199518      20493 2024-01-29 10:00:00   341.6
199519      20491 2024-01-29 10:00:00    41.1
199520      20465 2024-01-29 10:00:00     3.8
199521       5586 2024-01-29 10:00:00    65.1

[199522 rows x 3 columns]

In [54]:
complete_air_quality_stations = pd.read_csv("complete_air_quality_stations.csv")

In [58]:
sensors_in_data = list(df.IdSensore.unique())
stations_sensors = list(complete_air_quality_stations.IdSensore.unique())

In [62]:
# Nulling stations that do not exist
missing_sensors = []
for data_sensor in sensors_in_data:
    exist = False
    for station_sensor in stations_sensors:
        if station_sensor == data_sensor: exist = True
    if not exist: missing_sensors.append(data_sensor)
    
missing_sensors

[20525, 20564, 20565]

In [63]:
# Remove observations of stations that do not exist
for sensor in missing_sensors:
    print(sensor)
    df = df.loc[df["IdSensore"] != sensor]

df

20525
20564
20565

        IdSensore                Data  Valore
0            5579 2024-01-01 00:00:00    21.3
1           12017 2024-01-01 00:00:00    27.7
2            9971 2024-01-01 00:00:00     0.6
3            6246 2024-01-01 00:00:00    24.4
4            6280 2024-01-01 00:00:00    26.2
...           ...                 ...     ...
199517      20494 2024-01-29 10:00:00   187.4
199518      20493 2024-01-29 10:00:00   341.6
199519      20491 2024-01-29 10:00:00    41.1
199520      20465 2024-01-29 10:00:00     3.8
199521       5586 2024-01-29 10:00:00    65.1

[198782 rows x 3 columns]

In [64]:
def arrange_timestamp(date_time):
    return str(date_time)

In [69]:
base_url_measurements = "http://127.0.0.1:8000/api/collections/airqualitymeasurement/"

batch_size = 1000
batches = math.ceil(len(df) / batch_size)
#batches = 1
print(f"Number of batches: {batches}")

for i in range(0, batches):
    body = {
        "bulk": True,
        "items": []
    }
    
    i_start = i * batch_size
    i_end = len(df) if len(df) <= (batch_size * (i+1)) else (batch_size * (i+1))
    
    print(f'from {i_start} to {i_end}')
    timeseries_subset = df.iloc[i_start:i_end]
    timeseries_subset = timeseries_subset[['IdSensore','Data','Valore']]
    timeseries_subset['Data'] = timeseries_subset['Data'].apply(arrange_timestamp)
    timeseries_subset = timeseries_subset.replace({np.nan: None})
    
    for j, sensor in timeseries_subset.iterrows():
        item = { "sensor_id_id": sensor.IdSensore, "date": sensor.Data, "value": sensor.Valore }
        body["items"].append(item)
        
    body_json = json.dumps(body)
    body_json
    req = requests.post(base_url_measurements, body_json)
    if req.status_code == 500:
        print(req)
    print(f'request {i} - {req.status_code}')

Number of batches: 199
from 0 to 1000
request 1004 - 200
from 1000 to 2000
request 2008 - 200
from 2000 to 3000
request 3012 - 200
from 3000 to 4000
request 4015 - 200
from 4000 to 5000
request 5019 - 200
from 5000 to 6000
request 6022 - 200
from 6000 to 7000
request 7026 - 200
from 7000 to 8000
request 8031 - 200
from 8000 to 9000
request 9035 - 200
from 9000 to 10000
request 10038 - 200
from 10000 to 11000
request 11041 - 200
from 11000 to 12000
request 12045 - 200
from 12000 to 13000
request 13049 - 200
from 13000 to 14000
request 14053 - 200
from 14000 to 15000
request 15057 - 200
from 15000 to 16000
request 16061 - 200
from 16000 to 17000
request 17064 - 200
from 17000 to 18000
request 18068 - 200
from 18000 to 19000
request 19071 - 200
from 19000 to 20000
request 20074 - 200
from 20000 to 21000
request 21078 - 200
from 21000 to 22000
request 22084 - 200
from 22000 to 23000
request 23087 - 200
from 23000 to 24000
request 24090 - 200
from 24000 to 25000
request 25094 - 200
from 25000 to 26000
request 26097 - 200
from 26000 to 27000
request 27100 - 200
from 27000 to 28000
request 28105 - 200
from 28000 to 29000
request 29109 - 200
from 29000 to 30000
request 30113 - 200
from 30000 to 31000
request 31116 - 200
from 31000 to 32000
request 32119 - 200
from 32000 to 33000
request 33123 - 200
from 33000 to 34000
request 34126 - 200
from 34000 to 35000
request 35130 - 200
from 35000 to 36000
request 36135 - 200
from 36000 to 37000
request 37138 - 200
from 37000 to 38000
request 38142 - 200
from 38000 to 39000
request 39145 - 200
from 39000 to 40000
request 40149 - 200
from 40000 to 41000
request 41152 - 200
from 41000 to 42000
request 42156 - 200
from 42000 to 43000
request 43161 - 200
from 43000 to 44000
request 44164 - 200
from 44000 to 45000
request 45168 - 200
from 45000 to 46000
request 46171 - 200
from 46000 to 47000
request 47175 - 200
from 47000 to 48000
request 48178 - 200
from 48000 to 49000
request 49181 - 200
from 49000 to 50000
request 50187 - 200
from 50000 to 51000
request 51190 - 200
from 51000 to 52000
request 52194 - 200
from 52000 to 53000
request 53198 - 200
from 53000 to 54000
request 54201 - 200
from 54000 to 55000
request 55204 - 200
from 55000 to 56000
request 56209 - 200
from 56000 to 57000
request 57213 - 200
from 57000 to 58000
request 58216 - 200
from 58000 to 59000
request 59220 - 200
from 59000 to 60000
request 60224 - 200
from 60000 to 61000
request 61227 - 200
from 61000 to 62000
request 62231 - 200
from 62000 to 63000
request 63235 - 200
from 63000 to 64000
request 64239 - 200
from 64000 to 65000
request 65242 - 200
from 65000 to 66000
request 66246 - 200
from 66000 to 67000
request 67250 - 200
from 67000 to 68000
request 68252 - 200
from 68000 to 69000
request 69256 - 200
from 69000 to 70000
request 70262 - 200
from 70000 to 71000
request 71265 - 200
from 71000 to 72000
request 72268 - 200
from 72000 to 73000
request 73272 - 200
from 73000 to 74000
request 74275 - 200
from 74000 to 75000
request 75278 - 200
from 75000 to 76000
request 76282 - 200
from 76000 to 77000
request 77285 - 200
from 77000 to 78000
request 78291 - 200
from 78000 to 79000
request 79294 - 200
from 79000 to 80000
request 80298 - 200
from 80000 to 81000
request 81302 - 200
from 81000 to 82000
request 82304 - 200
from 82000 to 83000
request 83308 - 200
from 83000 to 84000
request 84313 - 200
from 84000 to 85000
request 85317 - 200
from 85000 to 86000
request 86320 - 200
from 86000 to 87000
request 87323 - 200
from 87000 to 88000
request 88327 - 200
from 88000 to 89000
request 89330 - 200
from 89000 to 90000
request 90334 - 200
from 90000 to 91000
request 91337 - 200
from 91000 to 92000
request 92343 - 200
from 92000 to 93000
request 93345 - 200
from 93000 to 94000
request 94349 - 200
from 94000 to 95000
request 95353 - 200
from 95000 to 96000
request 96356 - 200
from 96000 to 97000
request 97360 - 200
from 97000 to 98000
request 98364 - 200
from 98000 to 99000
request 99369 - 200
from 99000 to 100000
request 100372 - 200
from 100000 to 101000
request 101375 - 200
from 101000 to 102000
request 102378 - 200
from 102000 to 103000
request 103382 - 200
from 103000 to 104000
request 104386 - 200
from 104000 to 105000
request 105392 - 200
from 105000 to 106000
request 106394 - 200
from 106000 to 107000
request 107398 - 200
from 107000 to 108000
request 108402 - 200
from 108000 to 109000
request 109405 - 200
from 109000 to 110000
request 110409 - 200
from 110000 to 111000
request 111412 - 200
from 111000 to 112000
request 112418 - 200
from 112000 to 113000
request 113421 - 200
from 113000 to 114000
request 114424 - 200
from 114000 to 115000
request 115428 - 200
from 115000 to 116000
request 116432 - 200
from 116000 to 117000
request 117435 - 200
from 117000 to 118000
request 118439 - 200
from 118000 to 119000
request 119444 - 200
from 119000 to 120000
request 120447 - 200
from 120000 to 121000
request 121451 - 200
from 121000 to 122000
request 122454 - 200
from 122000 to 123000
request 123458 - 200
from 123000 to 124000
request 124462 - 200
from 124000 to 125000
request 125465 - 200
from 125000 to 126000
request 126470 - 200
from 126000 to 127000
request 127473 - 200
from 127000 to 128000
request 128477 - 200
from 128000 to 129000
request 129480 - 200
from 129000 to 130000
request 130484 - 200
from 130000 to 131000
request 131487 - 200
from 131000 to 132000
request 132491 - 200
from 132000 to 133000
request 133496 - 200
from 133000 to 134000
request 134500 - 200
from 134000 to 135000
request 135503 - 200
from 135000 to 136000
request 136506 - 200
from 136000 to 137000
request 137510 - 200
from 137000 to 138000
request 138514 - 200
from 138000 to 139000
request 139516 - 200
from 139000 to 140000
request 140522 - 200
from 140000 to 141000
request 141525 - 200
from 141000 to 142000
request 142528 - 200
from 142000 to 143000
request 143532 - 200
from 143000 to 144000
request 144536 - 200
from 144000 to 145000
request 145539 - 200
from 145000 to 146000
request 146543 - 200
from 146000 to 147000
request 147546 - 200
from 147000 to 148000
request 148551 - 200
from 148000 to 149000
request 149555 - 200
from 149000 to 150000
request 150558 - 200
from 150000 to 151000
request 151561 - 200
from 151000 to 152000
request 152565 - 200
from 152000 to 153000
request 153569 - 200
from 153000 to 154000
request 154573 - 200
from 154000 to 155000
request 155577 - 200
from 155000 to 156000
request 156580 - 200
from 156000 to 157000
request 157584 - 200
from 157000 to 158000
request 158588 - 200
from 158000 to 159000
request 159591 - 200
from 159000 to 160000
request 160594 - 200
from 160000 to 161000
request 161599 - 200
from 161000 to 162000
request 162603 - 200
from 162000 to 163000
request 163606 - 200
from 163000 to 164000
request 164610 - 200
from 164000 to 165000
request 165614 - 200
from 165000 to 166000
request 166617 - 200
from 166000 to 167000
request 167620 - 200
from 167000 to 168000
request 168623 - 200
from 168000 to 169000
request 169629 - 200
from 169000 to 170000
request 170633 - 200
from 170000 to 171000
request 171636 - 200
from 171000 to 172000
request 172639 - 200
from 172000 to 173000
request 173642 - 200
from 173000 to 174000
request 174647 - 200
from 174000 to 175000
request 175650 - 200
from 175000 to 176000
request 176655 - 200
from 176000 to 177000
request 177658 - 200
from 177000 to 178000
request 178662 - 200
from 178000 to 179000
request 179665 - 200
from 179000 to 180000
request 180669 - 200
from 180000 to 181000
request 181672 - 200
from 181000 to 182000
request 182677 - 200
from 182000 to 183000
request 183680 - 200
from 183000 to 184000
request 184684 - 200
from 184000 to 185000
request 185688 - 200
from 185000 to 186000
request 186691 - 200
from 186000 to 187000
request 187695 - 200
from 187000 to 188000
request 188698 - 200
from 188000 to 189000
request 189703 - 200
from 189000 to 190000
request 190707 - 200
from 190000 to 191000
request 191711 - 200
from 191000 to 192000
request 192714 - 200
from 192000 to 193000
request 193717 - 200
from 193000 to 194000
request 194721 - 200
from 194000 to 195000
request 195724 - 200
from 195000 to 196000
request 196729 - 200
from 196000 to 197000
request 197732 - 200
from 197000 to 198000
request 198736 - 200
from 198000 to 198782
request 199521 - 200

In [35]:
body = {
    "bulk": True,
    "items": []
}

timeseries_subset = df.iloc[0:1]
timeseries_subset = timeseries_subset[['IdSensore','Data','Valore']]
timeseries_subset['Data'] = timeseries_subset['Data'].apply(arrange_timestamp)
timeseries_subset = timeseries_subset.replace({np.nan: None})

for i, sensor in timeseries_subset.iterrows():
    item = { "sensor_id": sensor.IdSensore, "date": sensor.Data, "value": sensor.Valore }
    body["items"].append(item)
body_json = json.dumps(body)
body_json

'{"bulk": true, "items": [{"sensor_id_id": 5504, "date": "2023-01-01 00:00:00", "value": 42.1}]}'

In [55]:
count_elements = 2816286

size_b = 431521792
print(f'{size_b / count_elements} bytes per element in table')
print()

size_id = 22530288
print(f'{size_id / count_elements} bytes per element in column id')

size_date = 22530288
print(f'{size_date / count_elements} bytes per element in column date')

size_value = 18191588
print(f'{size_value / count_elements} bytes per element in column value')

size_fk = 11265144
print(f'{size_fk / count_elements} bytes per element in column fk')

print()
total_size = size_id + size_date + size_value + size_fk
print(f'{total_size} total size in bytes')
print(f'{total_size / count_elements} bytes per data element')
print(f'{total_size/1000000} MB')
print()

index_size = 83369984
print(f'{index_size / count_elements} bytes per element in index')

153.22371094412998 bytes per element in table

8.0 bytes per element in column id
8.0 bytes per element in column date
6.45942493056458 bytes per element in column value
4.0 bytes per element in column fk

74517308 total size in bytes
26.45942493056458 bytes per data element
74.517308 MB

29.60281164626036 bytes per element in index

In [52]:
total_data_AQ = 2800000 + 14800000 + 37900000 + 42900000
total_data_AQ

est_b_per_element = 154
est_in_db = total_data_AQ * 154
print(f'{est_in_db} bytes')
print(f'{est_in_db / 1000000} MB')
print(f'{est_in_db / 1000000000} GB')

15153600000 bytes
15153.6 MB
15.1536 GB

In [54]:
83369984

4278260.869565218